/* --- Shared variables --- */
$side-margin: 28px;
$nav-width: 265px;
$mobile-width: 576px;


/* --- Import base/vendor styles --- */
@import '_vendor/_normalize.scss';
//@import '_vendor/_pure.scss';
@import '_vendor/_outddatedbrowser.scss';

/* --- Shared CSS and vendor overrides --- */
@import '_common/_animations.scss';
@import '_common/_common.scss';
@import '_common/_typography.scss';
@import '_common/_mixins.scss';
@import '_common/_mediaqueries.scss';


/* --- Import page styles --- */
@import '_pages/_index.scss';
