#index-main {
    width: 100%;
    height: 100%;
}

#index-header {
    top: 0;
    left: 0;
    width: 100%;
    height: 59px;
    position: fixed;
    z-index: 3;
    background: #fff;
    text-align: center;
    
    img {
        display: inline-block;
    }
}

.index-image-link {
    background-color: #777;
    text-decoration: none;
    color: #fff;
    position: relative;
    
    h1 { margin: 0; }
    p { margin-top: .4em; }
    
    h1,
    p {
        position: relative;
        z-index: 3;
        transition: color 0.3s;
    }
    
    &:before,
    &:after {
        content: '';
        background: RGBA(0, 0, 0, 0.72);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    &:before {
        transition: background 0.4s ease;
        z-index: 2;
    }
    
    &:after {
        transition: filter 0.3s ease;
        z-index: 1;
    }
    
    &:hover,
    &:focus {
        h1 { color: #000; }
        p { color: #444; }
        
        &:before {
            background: rgba(242, 242, 242, 0.76);
        }
        
        &:after {
            filter: blur(5px);
        }
    }
}

#index-music-link:after {
    background: #777 url(/img/ceriwoodmusic-bg.jpg) 100% 0;
    background-size: cover;
}

#index-photography-link:after {
    background: #777 url(/img/ceriwoodphotography-bg.jpg) 100% 0;
    background-size: cover;
}



@media (orientation: landscape) {
    #index-main {
        @include flexbox();
    }
    
    .index-image-link {
        @include flex();
        padding-top: 43%;
        padding-top: 43vh;
        padding-left: 1.7em;
        padding-right: 1.7em;
    }
    
    #index-music-link {
        text-align: right;
    }
}

@media (orientation: portrait) {
    #index-header {
        position: static;
    }
    
    #index-main {
        height: auto;
    }
    
    .index-image-link {
        display: block;
        text-align: center;
        padding-top: 4em;
        padding-bottom: 4em;
    }
}