#photo-container {
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

@media (min-width: $mobile-width) {
    #page-nav-container {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: $nav-width;
        height: 100%;
        cursor: grab;
        background: RGBA(34,34,34,0.6);
    }

    #page-nav {
        padding-top: 2.4em;
        padding-bottom: 2em;
    }

    #photo-container {
        max-width: 100%; // Fix for image overflow issue
        white-space: nowrap;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        bottom: 0;
        cursor: grab;
        padding-left: $nav-width;
        transform: translate3d(0,0,0);

        &:active {
            cursor: grabbing;
        }

        img {
            display: inline;
            width: auto;
            height: 100%;
        }
    }
}

#page-header {
    h1 {
        margin: 0 0 0 ($side-margin - 8px); // 8px accommodates for svg logo offset
    }
}

#album-list {
    margin: 10px 0;
    padding-left: 0;
    
    hr {
        border: 0;
        height: 1px;
        margin: 1em $side-margin 1.2em;
        background: RGBA(255,255,255,0.2);
        background: -moz-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    
    svg {
        display: inline-block;
        vertical-align: middle;
    }
    
    li {
        margin-bottom: .3em;
    }
    
    a {
        display: inline-block;
        background: rgba(0, 0, 0, 0);
        padding: 0.5em 1.4em 0.55em $side-margin;
        border-left: 0;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        transition: background 0.25s;
        
        &:hover,
        &:focus {
            background: RGBA(0,0,0,0.3);
        }
        
        &:active {
            background: RGBA(0,0,0,0.4);
        }
        
        &.active {
            color: #000;
            background: RGBA(255,255,255,0.92);
            font-weight: 400;
            
            path { fill: #000; }
        }
    }
}

