$musicLinkColor: #66941c;

#music-page {
    ::selection {
        background: #e7faf2;
    }
    
    main {
        padding-top: 2em;
        padding-top: 10vh;
        padding-bottom: 5em;
        max-width: 48em;
        margin: 0 auto;
    }
    
    a {
        color: $musicLinkColor;
        
        &:hover,
        &:focus {
            color: lighten($musicLinkColor, 10%);
        }
    }
}

#music-header {
    text-align: center;
    
    h1 { margin: .3em 0 0; }
    h2 { margin: -.7em 0 1.2em; }
    p  { margin-bottom: 2em; }
}

#music-progress {
    width: 56%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.play-state-btn {
    background: 0;
    outline: 0;
    box-shadow: none;
    width: 3.4em;
    height: 3.4em;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: inline-block;
    position: relative;
    z-index: 2;
    transition: border-color 0.25s linear;
    
    &:hover,
    &:focus {
        border-color: #555;
        
        .play-icon {
            border-left-color: #555;
        }
    }
}

.play-state-btn-small {
    width: 2em;
    height: 2em;
    
    .play-icon {
        border-width: 5px 0 5px 5px;
        margin: -5px 0 0 -1.5px;
        transform-origin: 1.5px 10px;
    }
}

.music-progress .play-state-btn {
    position: absolute;
}

.play-icon,
.pause-icon {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
}

$musicBtnTransitionDuration: 0.2s;

.play-icon {
    width: 0;
    height: 0;
    margin: -10px 0 0 -3px;
    transform-origin: 3px 10px;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #bbb;
    
    transition: border-color $musicBtnTransitionDuration linear, transform $musicBtnTransitionDuration cubic-bezier(.22, .21, .13, 1), opacity $musicBtnTransitionDuration linear, visibility 0s linear;
}

.pause-icon {
    width: 5px;
    height: 20px;
    box-shadow: 5px 0 $musicLinkColor, -5px 0 $musicLinkColor;
    margin: -10px 0 0 -3px;
    
    opacity: 0;
    visibility: hidden;
    transform: rotate(100deg);
    
    transition: box-shadow $musicBtnTransitionDuration linear 0s, transform $musicBtnTransitionDuration cubic-bezier(.22, .21, .13, 1) 0s, opacity $musicBtnTransitionDuration linear 0s, visibility 0s linear $musicBtnTransitionDuration;
}

.play-state-btn.active  {
    border-color: $musicLinkColor;
    
    &:hover,
    &:focus {
        border-color: lighten($musicLinkColor, 10%);
    }
    
    .play-icon {
        visibility: hidden;
        opacity: 0;
        transform: rotate(-100deg);
        transition-delay: 0s, 0s, 0s, $musicBtnTransitionDuration;
    }
    
    .pause-icon {
        visibility: visible;
        opacity: 1;
        transform: rotate(0);
        transition-delay: 0s, 0s, 0s, 0s;
    }
}

#profile-image-wrap {
    text-align: right;
}

#tracklist {
    list-style: none;
    text-align: left;
    font-size: .85rem;
    
    .play-state-btn {
        float: left;
        margin-right: .8em;
    }
    
    a {
        display: block;
        box-shadow: 0 1px 10px #F3F3F3;
        padding: 1em 1.2em;
        text-decoration: none;
    }
    
    h4 {
        color: $musicLinkColor;
        margin: 0;
    }
    
    p {
        font-size: 95%;
        margin: .2em 0;
        color: #aaa;
    }
}